.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;

  &-blogs {
    display: flex;
    width: 100%;
    padding-bottom: 10px;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-topics {
      display: flex;
      flex-direction: column;
      margin: 5px 10px;
      width: 20%;
      justify-content: space-between;

      @media (max-width: 900px) {
        width: 90%;
      }
    }
  }
}
