.login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;

  &-account {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .form {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media (max-width: 800px) {
        width: 75%;
      }
    }

    &-title {
      font-size: 25px;
      font-weight: 400;
      font-style: italic;
      margin: 20px;
    }

    &-text {
      text-align: start;
      width: 100%;
      font-weight: 100;
      margin: 10px;
    }

    &-input {
      border: none;
      border-bottom: 1px solid gray;
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
    }

    &-login {
      width: 100%;
      text-align: end;
      margin: 10px 0px;
      color: gray;
      font-size: 13px;
      cursor: pointer;
    }

    &-button {
      background-color: transparent;
      margin: 10px;
      padding: 10px 20px;
      font-size: 20px;
      transition: 0.5s;

      &:hover {
        background-color: black;
        color: white;
        cursor: pointer;
      }
    }

    .errorMessage {
      background-color: rgb(255, 63, 63);
      color: white;
      width: 100%;
      padding: 5px;
    }
  }
  &-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 18%,
      rgba(86, 86, 86, 1) 79%
    );

    @media (max-width: 800px) {
      display: none;
    }

    h2 {
      font-size: 70px;
      border-top: 3px solid rgb(227, 227, 227);
      border-left: 3px solid rgb(227, 227, 227);
      padding: 0px 10px;
      background-color: rgb(62, 62, 62);
      color: white;
    }

    h4 {
      font-size: 30px;
      border-bottom: 3px solid rgb(227, 227, 227);
      border-right: 3px solid rgb(227, 227, 227);
      padding: 0px 10px;
      background-color: rgb(62, 62, 62);
      color: white;
    }
  }
}
