.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
  }
  &-blog {
    width: 70%;
  }

  &-similar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
  }
}
