.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    &-user {
      display: flex;
      flex-direction: column;
      &-img {
        max-width: 290px;
      }
    }
  }
  &-blog {
    width: 70%;
  }

  &-similar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
  }
}
