.user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-info {
    padding-top: 20px;
    background-color: rgb(206, 206, 206);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-img {
      width: 250px;
      border-radius: 50%;
    }

    h4 {
      font-size: 50px;
      margin: 10px;
      background-color: black;
      color: white;
      width: 100%;
      text-align: center;
      font-weight: 200;
    }
  }

  &-button {
    margin-top: 30px;
    button {
      width: 200px;
      padding: 10px;
      font-size: 40px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-bottom: 2px solid black;
    }
  }
}
