// a {
//   text-decoration: none;

//   &:active {
//     color: black;
//   }
// }
.sections {
  flex: 4;
  width: 100%;
  margin: 5px 60px;

  .section {
    border: 1px solid black;
    margin: 10px 0px;
  }

  a {
    text-decoration: none;
    &:active {
      color: black;
    }
  }

  &-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;

    &-img {
      width: 100px;
    }
    h2 {
      color: black;
      align-self: center;
    }

    p {
      color: rgb(183, 183, 183);
      width: 100%;
      text-align: end;
    }
  }

  &-sum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h5 {
      color: rgb(183, 183, 183);
      margin: 0;
    }
    p {
      color: black;
    }
  }
}
