.sections {
  flex: 4;
  width: 100%;
  // margin: 5px 60px;

  .section {
    border: 1px solid rgb(215, 215, 215);
    border-left: none;
    margin-top: 10px;
    padding: 10px;
    padding-left: 50px;
    transition: 0.2s;

    &:hover {
      background-color: gray;
    }
  }

  a {
    text-decoration: none;
    &:active {
      color: black;
    }
  }

  &-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;

    &-img {
      width: 100px;
      border-radius: 50%;
    }
    h2 {
      color: black;
      align-self: center;
      margin-left: 20px;
    }

    p {
      color: rgb(183, 183, 183);
      width: 100%;
      text-align: end;
    }
  }

  &-sum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h5 {
      color: rgb(183, 183, 183);
      margin: 0;
    }
    p {
      color: black;
    }
  }
}
