.sidebar {
  min-height: 100vh;
  z-index: 99;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: flex;
}

.sidebar {
  background: transparent;
  color: black;
  height: 100vh;
}
.top_section {
  padding: 20px 0px;
  margin: 0;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 14px;
}
.link {
  display: flex;
  color: black;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s ease;
  text-decoration: none;
}
.link:hover {
  background: black;
  color: white;
  transition: all 0.5s;
}
// .active {
//   color: #000;
// }
.icon,
.link_text {
  font-size: 20px;
}
